@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(119,25,87);
  background: linear-gradient(90deg, rgba(119,25,87,1) 0%, rgba(143,25,207,1) 100%);
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
}
.player-cont{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.players{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.dice-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.btn-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.btn-cont button {
  color: #fff;
  margin: 1rem;
  padding: 0 0.8rem ;
  background: rgb(111,30,153);
  border: none;
  border-radius: 25px;
}
.highlightCur{
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.shadowMe{
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rollFirst-msg{
  font-size: 1rem;
}
.rollFirst-cont{
  text-align: center;
}
.mew-game-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* dice */
.cube{
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}
.dice1{
  background: url('./vector-illustration-white-16-dices-260nw-1477976066.webp') no-repeat -18px -16px;
}
.dice2{
  background: url('./vector-illustration-white-16-dices-260nw-1477976066.webp') no-repeat -132px -16px;
}
.dice3{
  background: url('./vector-illustration-white-16-dices-260nw-1477976066.webp') no-repeat -248px -16px;
}
.dice4{
  background: url('./vector-illustration-white-16-dices-260nw-1477976066.webp') no-repeat -16px -148px;
}
.dice5{
  background: url('./vector-illustration-white-16-dices-260nw-1477976066.webp') no-repeat -132px -148px;

}
.dice6{
  background: url('./vector-illustration-white-16-dices-260nw-1477976066.webp') no-repeat -248px -148px;

}

@media (max-width: 1200px) {
  .btn-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
}